/* HOME */

/* body */

.body {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: #757575;
}

:root {
  --basic-font-family: 'Roboto';

  --basiс-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2196f3;

  --basiс-color: #757575;
  --secondary-color: black;
  --third-color: #2196f3;
  --final-color: #ffffff;
}

/* <!--header--> */
.header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
  border-left: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.header-nav {
  display: inline-block;
  display: flex;
}

.nav-page {
  display: inline-block;
  display: flex;
}

.logo,
.web {
  color: var(--secondary-color);
  padding: 0px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.web {
  color: var(--third-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* site nav */

.site-nav,
.link,
.filter {
  color: var(--secondary-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .nav-item {
  margin-right: 50px;
}

.site-nav .nav-item:last-child {
  margin-right: 0px;
}

.current-link {
  color: var(--third-color);
  display: block;
}

.link:hover,
.link:focus,
.contacts-mail:hover,
.contacts-mail:focus,
.contacts-tel:hover,
.contacts-tel:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--third-color);
}

.link {
  font-family: var(--basic-font-family);

  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* contact */

.header-contact {
  display: flex;

  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-mail,
.contacts-tel {
  color: var(--basiс-color);
  font-weight: 500;
  text-decoration: none;
}

.contacts-tel {
  padding-right: 0px;
  margin-left: 50px;
}

/* Main */

/* section hero */
.section-hero,
.footer {
  background-color: var(--basiс-background-color);
}

.section-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.titel {
  font-family: var(--basic-font-family);
  color: var(--final-color);

  margin: 0px auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  font-family: var(--basic-font-family);
  background-color: var(--third-background-color);
  color: var(--final-color);
  padding: 10px 32px;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

/* section advantage */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-box {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.advantage-title {
  font-family: var(--basic-font-family);
  color: var(--secondary-color);

  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text {
  font-family: var(--basic-font-family);
  color: var(--basiс-color);

  margin-top: 0px;
  margin-bottom: 0px;
  width: 270px;

  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* section work and team */
.work {
  padding-top: 0px;
}

.item {
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0px;
}

.title-work,
.title-team {
  font-family: var(--basic-font-family);
  color: var(--secondary-color);

  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.title-work {
  text-align: center;
  margin-bottom: 50px;
}

.list-work {
  display: inline-block;
  display: flex;
}

element.style {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-team {
  background-color: var(--secondary-background-color);
}

.title-team {
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.list-team {
  display: inline-block;
  display: flex;
}

.item-team {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-team {
  margin-bottom: 30px;
}

.team-user {
  font-family: var(--basic-font-family);
  color: var(--secondary-color);

  margin: 0px;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.user-prof {
  font-family: var(--basic-font-family);
  color: var(--basiс-color);
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  padding-bottom: 60px;
}

.footer-logo {
  padding-top: 60px;
}

.studio {
  color: var(--final-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.list-address {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  width: 231px;
}

.address {
  font-family: var(--basic-font-family);
  color: var(--final-color);
  margin: 0px;
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.mail,
.tel {
  font-family: var(--basic-font-family);
  color: var(--basiс-color);

  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.mail {
  display: block;
  margin-bottom: 9px;
}

/* PORTFOLIO */

/* section filter */

.portfolio {
  padding-top: 94px;
}

.port-link {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.port-item {
  margin-right: 30px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.port-item:last-child {
  margin-right: 0px;
}

.filter {
  font-family: var(--basic-font-family);
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);

  border: none;
  cursor: pointer;

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.filter:hover,
.filter:focus {
  background-color: var(--third-background-color);
  color: var(--final-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0px;
}

.filter-border {
  margin: 0px;
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.filter-title {
  font-family: var(--basic-font-family);
  color: var(--secondary-color);
  margin: 0px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-chapter {
  font-family: var(--basic-font-family);
  color: var(--basiс-color);
  margin: 0px;
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* Продолжение следует .... */
